{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "page-header.html" . }}
<section class="section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-title">Error 404: Page not found</h2>
        </div>
      </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <img class="img-fluid" src="/images/about/about-page.jpg" alt="404 Page not found">
            </div>
  
          </div>
    </div>
  </section>


{{ partial "footer.html" . }}