{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}


<!-- hero banner -->
<!-- {{ if $data.homepage.banner.enable }}
{{ with $data.homepage.banner }}
<section class="hero-section overlay bg-cover" data-background="{{ .bg_image | absURL }}">
 <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="text-white">{{ .title | markdownify }}</h1>
        <p class="text-muted mb-4">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        <a href="{{ .button.link | absLangURL }}" class="btn btn-primary">{{ .button.label }}</a>
        {{ end }}
      </div>
    </div>
 </div>
</section>
{{end}}
{{end}} -->
<!-- hero banner -->

<!-- hero slider -->
{{ if $data.homepage.slider.enable }}
{{ with $data.homepage.slider }}
<section class="hero-section overlay bg-cover" data-background="{{ .bg_image | absURL }}">
  <div class="container">
    <div class="btn" style="padding:0 0;text-align:left;color:#ffbc3b!important; margin-bottom:10px; z-index: 1;">
          Highlight: <a href="event/sportsmen202408/">Newsletter</a> | <a href="event/cambridgefoundry2024">Video</a>
    </div>
    <div class="hero-slider">
      <!-- slider item -->
      {{ range .slider_item }}
      <div class="hero-slider-item" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="5" data-duration-in=".1"
      data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".1">
        <div class="row">
          <div class="col-md-8">
            <h3 class="text-white">{{ .title | markdownify }}</h3>
              <p></p>
              <div>
                <a href="{{ .button.link | absLangURL }}"><img class="img-responsive" style="max-width: 100%; min-width: 400px;  height: auto; margin-bottom: 20px" src="{{ .image }}" alt=""></a>
                {{ if .button.enable }}
                <a href="{{ .button.link | absLangURL }}" class="btn btn-primary">{{ .button.label }}</a>
                {{ end }}
              </div>              
              <!-- <p class="text-muted mb-4">{{ .content | markdownify }}</p> -->
           
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- /hero slider -->


<!-- mission -->
{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h3 class="section-title">{{ .title | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
      {{ with .image }}
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" src="{{ . | absURL }}" alt="about image">
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- mission -->

<!-- advisors -->
{{ if $data.homepage.advisors.enable }}
<section class="section" style="margin-top: -120px">
  <div class="container">
      {{ with $data.homepage.advisors }}
      <div class="row align-items-center">
          <div class="col-md-6 order-2 order-md-1">
            <h3 class="section-title">{{ .title | markdownify }}</h3>
          </div>
      </div>      
  <div class="col-12">      
      {{ range .advisor_item }}
      <div class="row">
          <h6 class="mb-0">{{ .name }}:&nbsp</h6>  {{.profile}} <br/></br>
      </div>

      {{ end }}
  </div>
  {{ end }}
  </div>
 </section>
 {{ end }} 
<!-- advisors -->

<!-- Affiliations & Certifications -->
<section class="section" style="margin-top: -120px">
  <div class="container">    
      <div class="row align-items-center">
          <div class="col-md-6 order-2 order-md-1">
            <h3 class="section-title">Affiliations & Certifications</h3>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
            Chess + Math Lab is US Chess Federation affiliated member. <br/> <br/>
            We are certified by the Presidential Volunteer Services Award(PVSA) Program, and can help eligible volunteers apply for Presidential Volunteer Services Award.
        </div>
          </div>
    </div>
  </div>
 </section>
<!-- Affiliations & Certifications -->

<!-- supporters -->
{{ if $data.homepage.supporters.enable }}
<section class="section" style="margin-top: -120px">
  <div class="container">
      {{ with $data.homepage.supporters }}
      <div class="row align-items-center">
          <div class="col-md-6 order-2 order-md-1">
            <h3 class="section-title">{{ .title | markdownify }}</h3>
          </div>
      </div> 
  <div class="col-12">
      <div class="row">
      {{ range .supporter_item }}
      <div class="d-flex align-items-center col-md-3" style="width: 180px; height: 180px;">
    <a href="{{ .url }}" target="_blank"> <img src="{{ .image | absURL }}" alt="{{.title}}" style="max-width: 160px; height:auto; vertical-align: middle;"> </a>
    </div>
      {{ end }}
  </div>
  </div>
  {{ end }}
  </div>
 </section>
 {{ end }} 
<!-- supporters -->

<!-- Testmonials -->
{{ if $data.homepage.reviews.enable }}
<section class="section" style="margin-top: -120px">
  <div class="container">
      {{ with $data.homepage.reviews }}
      <div class="row align-items-center">
          <div class="col-md-6 order-2 order-md-1">
            <h3 class="section-title">{{ .title | markdownify }}</h3>
          </div>
      </div>      
      <div class="row">  
      {{ range .review_item }}
        <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
          <blockquote class="style1"> <span> 
            {{ .content }}     
          </span>  
          <br/>   
          <footer><cite> {{.author}}</cite></footer>
          </blockquote>
          
        </div>
      {{ end }}
  </div>
  {{ end }}
  </div>
 </section>
 {{ end }} 
<!-- Testmonials -->

<!-- courses -->
{{ if $data.homepage.course.enable }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.course.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{ `course` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- course list -->
    <div class="row justify-content-center">
      <!-- course item -->
      {{ range first 6 (where site.RegularPages "Type" "course")}}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "course" }}
      </div>
      {{ end }}
    </div>
    <!-- /course list -->
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ `course` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /courses -->

<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ with $data.homepage.cta }}
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="text-white font-secondary mb-0">{{ .subtitle | markdownify }}</h6>
        <h2 class="section-title text-white">{{ .title | markdownify }}</h2>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-light">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /cta -->

<!-- success story -->
{{ if $data.homepage.success_story.enable }}
{{ partial "success-story.html" . }}
{{ end }}
<!-- /success story -->

<!-- events -->
{{ if $data.homepage.event.enable }}
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.event.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- event -->
      {{ range first 3 (where site.RegularPages "Type" "event")}}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /events -->

<!-- blog -->
{{ if $data.homepage.blog.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ $data.homepage.blog.title }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- blog post -->
      {{ range first 3 (where site.RegularPages "Type" "post")}}
      <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "post" }}
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->


<!-- funfacts -->
{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      {{ range .funfact_item }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
       {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /funfacts -->

{{ end }}